# Node modules
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Test outputs
coverage/
cypress/videos/
cypress/screenshots/

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local

# Vitest cache
coverage/
*.test.*
*.spec.*
.vitest/
